@inject NavigationManager navigationManager
@using Shared.Buttons
<PageTitle>Admin Dashboard</PageTitle>

<AuthorizeView Roles="@CustomRoles.Admin">
    <Authorized>
        <div class="w-full">
            <h1 class="text-2xl text-gray-600 font-semibold  dark:text-gray-300 sm:text-4xl mb-8 ">
                Admin Dashboard
            </h1>
        </div>
        <div class="flex flex-col min-h-full gap-y-4 lg:gap-y-0 min-w-full lg:flex-row lg:gap-x-4 xl:gap-8">
            <aside class="max-h-screen dark:shadow-indigo-500 shadow-xl dark:shadow-md">
                <ul class="flex lg:flex-col justify-evenly lg:justify-start flex-wrap shadow-xl dark:shadow-indigo-500 dark:shadow-md  h-full flex-1 text-gray-600 dark:text-gray-300  bg-white dark:bg-gray-900 p-6 rounded-lg gap-4">
                    <li>
                        <AdminSideNavButton OnClick="@NavigateToDashboard" Icon="fa-solid fa-table-columns" Title="Dashboard"/>
                    </li>
                    <li>
                        <AdminSideNavButton OnClick="@NavigateToCreateSchedule" Icon="fa-solid fa-calendar-plus" Title="Create Schedule"/>
                    </li>
                    <li>
                        <AdminSideNavButton OnClick="@NavigateToAllSchedules" Icon="fa-solid fa-calendar-days" Title="All Schedules"/>
                    </li>
                    <li>
                        <AdminSideNavButton OnClick="@NavigateToUsers" Icon="fa-solid fa-user" Title="Users"/>
                    </li>
                    <li>
                        <AdminSideNavButton OnClick="@NavigateToEditProfile" Icon="fa-solid fa-user-secret" Title="Edit Profile"/>
                    </li>
                </ul>
            </aside>
            <section class="flex flex-col w-full shadow-xl dark:shadow-indigo-500 dark:shadow-md text-sm h-full flex-1 text-gray-600 dark:text-gray-300  bg-white dark:bg-gray-900 p-6 rounded-lg gap-4">
                @ChildContent
            </section>
        </div>
    </Authorized>
    <NotAuthorized>
        <section class="mx-auto min-w-full min-h-full  mb-20">
            <div class="my-6 sm:my-20 px-6 py-12 sm:py-20 sm:px-12 text-center">
                <p class="text-base sm:text-xl text-gray-600">Sorry, you do not have the proper permissions to access this page.</p>
            </div>
        </section>
    </NotAuthorized>
</AuthorizeView>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    private void NavigateToDashboard()
    {
        navigationManager.NavigateTo(Routes.AdminDashboard);
    }

    private void NavigateToCreateSchedule()
    {
        navigationManager.NavigateTo(Routes.CreateSchedule);
    }

    private void NavigateToAllSchedules()
    {
        navigationManager.NavigateTo(Routes.AllSchedules);
    }

    private void NavigateToUsers()
    {
        navigationManager.NavigateTo(Routes.AllUsers);
    }

    private void NavigateToEditProfile()
    {
        navigationManager.NavigateTo(Routes.EditProfile);
    }

}